// site colors
$white: #FFFFFF;
$prti-bg: #F5F5F6;
$disabled-grey: #D7D7D8;
$white: #FFFFFF;
$black: #000000;
$aqua: #00FFB2;
$dark-aqua: #00F2AD;
$rose: #f8c1ce;
$dark-rose: #f76f8e;
$blue: #184A9C;
$red: #FF4343;
$dark-red: #E53E3E;
$violet: #623cea;
$off-white: #DADCDD;
$lavender: #9f88f0;
$dark-slate-gray:#004a64;
$turquoise-blue: #00b9d1;
$light-aqua: #97fae9;
$darkest-green: #2D3C45;
$blue: #184A9C;
$dark-blue: #0A2463;
$darkest-blue: #29324D;
$super-light-grey: #F5F5F5;
$lightest-grey: #F7F6F1;
$light-grey: #E7E5DD;
$medium-grey: #D8D6D0;
$dark-grey: #B5B4AE;
$darkest-grey: #73716C;
$magenta: #FF04DF;
$dark-magenta: #E505D5;
$yellow: #FFF32A;
$lightest-yellow: #FFFFE0;
$light-yellow: #FFF772;
$dark-yellow: #F2DF2C;
$green: #4CAE4C;
$light-green: #DCEFDC;
$prti-font: #373A3C;






