.button-lg button {
  background-color: rgba(255, 255, 255, 1);
  color: #bf1f2f;
  width: 196px;
  height: 36px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: inherit;
}

.button-lg button:hover {
  background-color: #f5f5f6;
}

.button-lg-primary button {
  background-color: rgba(255, 255, 255, 1);
  color: #bf1f2f;
  width: 196px;
  height: 36px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: inherit;
}

.button-lg-secondary button {
  background-color: #bf1f2f;
  color: rgba(255, 255, 255, 1);
  width: 196px;
  height: 36px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: inherit;
}

.button-lg-primary button:hover {
  background-color: #bf1f2f;
  color: rgba(255, 255, 255, 1);
}

.button-lg-secondary button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #bf1f2f;
}
